// Base Classes
//*********************************//

html {
	font-size: 16px;
}

a {
	color: $base-color;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: $sans-serif-bold;
	font-weight: bold;
}

h1 {
	//font-size: 46px;
	@include font-size(46);
	line-height: rem(129);
	color: white;
	text-transform: capitalize;
}

h2 { 
	@include font-size(46);
	//line-height: 74px;
	line-height: rem(55);
	border-bottom: 5px solid $base-color;
	//letter-spacing: -2px;
	display: inline-block;
	margin-bottom: rem(50);
}

p {
	font-family: $serif;
	font-weight: normal;
	color: $base-color;
	@include font-size(19);
	line-height: 31px;
	text-indent: 0 !important;
	margin-bottom: 31px;
}

.wrap {
	max-width: 980px;
	margin: 0 auto;
	padding: 60px 0;
	position: relative;
	img {
		width: 100%;
	}
	p:last-of-type {
		//margin-bottom: 0;
	}
	@extend .clearfix;
}

.inner-wrap {
	position: relative;
	margin: 25px;
	@extend .clearfix;
}


// Helper Classes
//*********************************//

.text-center { text-align: center; }
//.right { right: 0; }
//.left { left: 0; }

.right { float: right; }
.left { float: left; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bg {
	background: white;
}

.fix {
	position: fixed;
	top: 5px;
}

.fixed {
    position: absolute;
}

.faded {
	opacity: 0.1;
	background-color: black;
	@include transition-duration(1s);
	@include transition-timing-function(ease-in-out);
}

//video {
//	opacity: 1;
//	@include transition-duration(500ms);
//	@include transition-timing-function(ease-in-out);
//}

// Clearfix
.clearfix:after { 
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden; 
}
.clearfix { 
  display: inline-block;  
}
* html .clearfix {  
  height: 1%;  
} /* Hides from IE-mac \*/
.clearfix {  
  display: block;  
}
.flex-video {
	@include flex-video-container;
}


// Global Styles
//*********************************//

article {
	position: relative;
}

// Header
header {
	//width: 100%;
	//position: fixed;
	//top: 0;
}

// Article title
#title {
	//background: image-url("ls3-hero.jpg");
	width: 100%;
	height: rem(1600);
	margin-top: rem(300);
	text-align: center;
	h1 { 
		margin-bottom: rem(675);
	}
	p {
		color: white;
		font-family: $sans-serif;
		@include font-size(22);
		line-height: 36px;
	}
	.byline {
		letter-spacing: 1px;
	}
	.wrap {
		width: 325px;
		padding: 0;
		//position: static;
	}
}

.background-video,
.background {
	overflow: hidden;
}
.background-video > video,
.background > video {
	//position: absolute !important;
	top: 0px !important;
}


// Big letter "A"
.drop-caps {
	font-family: $sans-serif-bold;
	@include font-size(288);
	font-weight: bold;
	text-align: center;
	line-height: 1;
	margin-bottom: 0;
}


// Common Section Styles
//*********************************//

.title {
	background: transparent;
	padding-top: rem(250);
	padding-bottom: rem(250);
	h1 {
		@include font-size(89);
		line-height: 1;
	}
	p {
		font-family: $sans-serif;
		@include font-size(30);
		line-height: 1;
		text-transform: uppercase;
		color: white;
	}
}

small {
	font-family: $sans-serif;
	font-style: italic;
	@include font-size(14);
	line-height: 18px;
	font-weight: normal;
	width: 50%;
	display: inline-block;
}

.robots,
.text {
	//float: left;
}
.robots {
	position: relative;
	img {
		display: block;
	}
	.affix-wrap {
		//opacity: 0;
		//@include transition(opacity,1s,ease-in-out,.25s);
	}
	.fix {
		//opacity: 1;
		//@include transition(opacity,1s,ease-in-out,.25s);
	}
}



// Sections
//*********************************//

// Intro

#intro {
	background: white;
	.wrap {
		position: relative;
		top: -60px;
		max-width: 595px;
		padding: 0;
	}
}

// Part 1

// Background
#jumper {
	background-image: image-url("part1-background.jpg");
	background-repeat: no-repeat;
	//background-position: center center;
	//background-attachment:fixed;
	background-size: cover;
	width: 100%;
	position: fixed;
	top: 0;
}

#partOne {
	.wrap {
		max-width: 980px;
	}
	.robots {
		width: 39%;
		height: 100%;
		//position: absolute;
		//left: 0;
		img {
			width: 81%;
		}
		.robot {
			height: 50%;
			position: relative;
		}
		small {
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}
	.video {
		margin-top: 31px;
		margin-bottom: 62px;
		@extend .flex-video;
	}
	.text {
		width: 61%;
		//float: right;
	}
}

// Flipbook: Hopper
#hopper-flip-book {
	margin-bottom: 60px;
	background: white;
	height: 3560px;
	div {
		height: 700px;
		width: 100%;
	}

	@for $i from 1 through 5{
  	.#{page}-#{$i}{
    	background-image: image-url("flip-#{$i}.jpg");
			background-repeat: no-repeat;
    	background-position: center center;
    	background-attachment:fixed;
    	background-size: cover;
    	z-index: 5;
  	}
	}
	.page-5 {
    	//background-attachment:scroll;
    	//padding: 100px 0;
	}
}



// Part 2

#beach-mobile {
	background-image: image-url("beach-background.jpg");
	background-repeat: no-repeat;
	//background-position: center center;
	//background-attachment:fixed;
	background-size: cover;
	width: 100%;
	position: fixed;
	top: 0;
}

#partTwo {
	.wrap {
		//padding-left: 25px;
		//padding-right: 25px;
	}
	//.robots {
	//	width: 54%;
	//}
	.video {
		position: relative;
		top: 6.56525em;
		width: 48%;
		@extend .hide-for-mobile;
	}
	.subheader-right {
		margin-left: 54%;
	}
	.text {
		width: 46%;
		//&.right {
			//float: right;
		//}
	}
}

// Part 3

#partThree {
	.robots {
		width: 46%;
		height: 100%;
		//position: absolute;
		//left: 0;
		img {
			width: 85%;
		}
		.robot {
			height: 100%;
			position: relative;
		}
		small {
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}
	.atlas {
		//width: 46%;
		//position: absolute;
		//bottom: 62px;
		//left: 0;
		img {
			//width: 85%;
		}
	}
	.text {
		width: 54%;
		//float: right;
	}
}

// Atlas flipbook
#atlas-flip-book {
	div {
		height: 1400px;
		width: 100%;
	}
	.page-1 {
		background-image: image-url("atlas-dev1.jpg");
		background-repeat: no-repeat;
    	background-position: center center;
    	background-attachment:fixed;
    	background-size: cover;
    	z-index: 5;
	}
	.page-2 {
		background-image: image-url("atlas-dev2.jpg");
		background-repeat: no-repeat;
    	background-position: center center;
    	background-attachment:fixed;
    	background-size: cover;
    	z-index: 5;
	}
	.page-3 {
		background-image: image-url("atlas2.jpg");
		background-repeat: no-repeat;
    	background-position: center center;
    	background-attachment:fixed;
    	background-size: cover;
    	z-index: 5;
	}
}

// Footer
//*********************************//
footer {
	position: relative;
	height: 90px;
	background: #383838;
	//opacity: 0.75;
	.wrap {
		padding: 0;
		&:after {
			content: none;
			display: none;
		}
		img { width: auto; }
	}
	p {
		margin-bottom: 0;
	}
	p a {
		//color: white;
		font-family: $sans-serif;
		font-size: 12px;
		font-weight: 100;
		line-height: 90px;
		text-transform: uppercase;
		text-decoration: none;
		color: gray;
	}
	.return-to-tech-review {
		float: left;
		background: image-url("logo.png") center left no-repeat;
		padding-left: 30px;
		//font-family: $sans-serif;
	}
	.scroll-to-top {
		float: right;
		//font-size: 16px;
		&:after {
			content: '▴';
			padding-left: 8px;
		}
	}
}




// Mobile Queries
//*********************************//

@media only screen and (max-width:767px) {
	html {
		font-size: 15px;
	}
	.hide-for-mobile {
		display: none;
	}
	.text {
		width: 100% !important;
	}
	.wrap {
		margin-right: 15px;
		margin-left: 15px;
	}
	#title {
		margin-top: rem(250);
		h1 {
			line-height: rem(100);
			margin-bottom: rem(500);
		}
		.wrap {
			margin-right: auto;
			margin-left: auto;
		}
	}
	#partOne {
	}
	#part2 {
		.subheader-right {
			margin-left: 0%;
		}
		.wrap {
			margin-right: 0;
			margin-left: 0;
		}
		.inner-wrap {
			margin-right: 15px;
			margin-left: 15px;
		}
	}
	#partThree {
	}
	#hopper-flip-book,
	#atlas-flip-book {
		display: none;
	}
}


@media only screen and (max-width:623px) {
	html {
		font-size: rem(14);
	}
	.title {
		width: 90%;
		margin: 0 auto;
		p {
			@include font-size(24);
			line-height: 2;
		}
		h1 {
			@include font-size(52);
		}
	}
	h2 {
		@include font-size(30);
	}
	p {
		width: 95%;
		margin-right: auto;
		margin-left: auto;
	}
}

@media only screen and (max-width:525px) {
	html {
		font-size: rem(12);
	}
	.title {
		padding-top: rem(150);
		padding-bottom: rem(150);
	}
}