//@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700);


$serif: "PT Serif", "Georgia","Times","Times New Roman",serif;
$sans-serif: "neue_haas_grotesk_text55roman";
$sans-serif-italic: "neue_haas_grotesk_text_st56It";
$sans-serif-bold: "neue_haas_grotesk_text_st75Bd";

$base-color: #111111;
