// .||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||.

//   .                                      '||            .           
// .||.  .... ... ... ...    ....  ... ...   ||   ....   .||.    ....  
//  ||    '|.  |   ||'  || .|...||  ||'  ||  ||  '' .||   ||   .|...|| 
//  ||     '|.|    ||    | ||       ||    |  ||  .|' ||   ||   ||      
//  '|.'    '|     ||...'   '|...'  ||...'  .||. '|..'|'  '|.'  '|...' 
//       .. |      ||               ||                                 
//        ''      ''''             ''''                      VARIABLES
// 

// .||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||.



// $BaseType
// -------------------------------------//

$font-weight: normal;
$line-height: 1.65 !default; // default line-height should be 31px
$font-size: 100 !default; // percentage value (16 * 100% = 19px)
$font-base: 16 * ($font-size/100) !default; // converts our percentage to a pixel value
$serif-boolean: true; // declares serif or sans-serif for your default type


// $Small Print
// -------------------------------------//

$small-print-size: 65%;


// $Color
// -------------------------------------//

$body-copy-color: #111;
$heading-color: #111;


// $Ampersand
// -------------------------------------//

$amp-fontface-name: Ampersand;
$amp-fontface-source: local('Georgia'), local('Garamond'), local('Palatino'), local('Book Antiqua');
$amp-fontface-fallback: local('Georgia');

// Allows for our ampersand element to have differing
// font-family from the ampersand unicode font-family.
$amp-font-family: Verdana, sans-serif;


// $Icon-Font-Helper
// -------------------------------------//
// ex.1) $icon-fonts: (icon-name);
// ex.2) $icon-fonts: (icon-name1, icon-name2, icon-name3);
$icon-fonts: null;


// $TypeScale
// -------------------------------------//

$tera: 117; // 117 = 18 × 6.5
$giga: 90; // 90 = 18 × 5
$mega: 72; // 72 = 18 × 4
$alpha: 60; // 60 = 18 × 3.3333
$beta: 48; // 48 = 18 × 2.6667
$gamma: 36; // 36 = 18 × 2
$delta: 24; // 24 = 18 × 1.3333
$epsilon: 21; // 21 = 18 × 1.1667
$zeta: 18; // 18 = 18 × 1


// $TypeScale-Unit
// -------------------------------------//

$type-scale-unit-value: rem;


// $Text-Indentation
// -------------------------------------//

$indent-val: 0em;


// $Pull-Quotes
// -------------------------------------//

$pull-quote-fontsize: 4em;
$pull-quote-opacity: 0.5;
$pull-quote-color: #dc976e;


// $Citation
// -------------------------------------//

$cite-display: block;
$cite-text-align: right;
$cite-font-size: inherit;


// $SmallCaps
// -------------------------------------//

$small-caps-color: gray;
$small-caps-weight: 600;


// $DropCap
// -------------------------------------//

$dropcap-float-position: left;
$dropcap-font-size: 4em;
$dropcap-font-family: inherit;
$dropcap-txt-indent: 0;
$dropcap-margin: inherit;
$dropcap-padding: inherit;
$dropcap-color: inherit;
$dropcap-line-height: 1;
$dropcap-bg: transparent;
